

.btn-custom {
    background-color: #0d6efd;
    color: white;
    border-radius: 30px;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.btn-custom:hover {
    background-color: #0b5ed7;
    color: #fff;
}
